body{
    font-family: 'Poiret One', cursive;
    background-color: #eee;
}
p{
    font-family: 'Kite One', sans-serif;
}
.secao{

  padding-bottom:150px;
}
.secao p{
  margin-bottom: 50px;
}
.logo{
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #333;
    color: white;
}
.navitem{
    font-size:1.4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px #333;
}

.navitem, h1,h2,h3,h4,p{

    font-weight: bold;

}
.logo:hover,.navbar-default .logo,.navbar-default .navitem ,.navitem .active{
    text-shadow:none;
}

/*.coverimg {

  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  background: #F4D03F url(../img/cover.jpg) center 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.break{
  background-color: #333;
  width: 50%;
  height: 3px;
  margin: 0 auto;
  margin-bottom:15px;

}
.minibreak{
  background-color: #555;
  width: 30%;
  height: 2px;
  margin: 0 auto;
  margin-bottom:15px;
}
.cabecalhosecao{
    margin-top: 100px;
    margin-bottom: 100px;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}
/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}
/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

